@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.d-f {
  display: flex;
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.jc-sb {
  justify-content: space-between;
}

.m-0 {
  margin: 0 auto;
}

.w-75 {
  width: 75%;
}

.error {
  background-color: rgba(255, 0, 0, 0.322);
  text-align: center;
  padding: 1rem;
  color: red;
  border-radius: 1rem;
  border: 3px solid red;
  margin-top: 1rem;
}

.but {
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
}

.but:hover {
  cursor: pointer;
}

.but-delete {
  background-color: rgba(255, 0, 0, 0.322);
  color: red;
  border: 0.15rem solid red;
}

.but-succ {
  background-color: rgba(0, 128, 0, 0.322);
  color: green;
  border: 0.15rem solid green;
}

#list {
  list-style: none;
}

.list {
  border-bottom: 0.2rem solid black;
  box-shadow: 4px 4px 9px #969696;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.completed {
  background-color: rgba(0, 128, 49, 0.253);
}

.right-button {
  border-radius: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  transition: all 0.3s;
  background-color: #cc8f34;
  color: rgba(255, 255, 255, 0.651);
  border: 2px solid #a36405;
}

.right-button:hover {
  cursor: pointer;
  background-color: #b8720a;
}

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  width: 70vw;
  max-width: 80rem;
  min-width: 37.5rem;
  margin: 0 auto;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(222, 184, 135, 0.301);
}
.container .left .form {
  display: flex;
  flex-direction: column;
}
.container .left .form label {
  font-size: 3rem;
  text-align: center;
}
.container .left .form #task {
  width: 50vw;
  max-width: 40rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid gray;
  color: gray;
}
.container .left .form input[type=submit] {
  background-color: skyblue;
  font-weight: bold;
  border: 2px solid #6b9ac0;
  color: rgba(255, 255, 255, 0.651);
  width: 50%;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 2rem;
  transition: all 0.3s;
}
.container .left .form input[type=submit]:hover {
  cursor: pointer;
  background-color: #48c0f0;
}
.container .left .form p {
  margin: 0 auto;
  margin-top: 2rem;
  cursor: default;
}
.container .right {
  width: 90%;
  text-align: center;
}
.container .right .pending-tasks {
  border-bottom: 2px solid black;
  padding-bottom: 5rem;
  list-style: none;
  margin-bottom: 5rem;
  text-align: left;
}
.container .right .completed-tasks {
  border-bottom: 2px solid black;
  padding-bottom: 5rem;
  list-style: none;
  margin-bottom: 5rem;
  text-align: left;
}
.container .right .completed-tasks ul {
  list-style: none;
}
.container .right #restart-button {
  width: 80%;
  background-color: #aa5939;
  border: 2px solid #523407;
}
.container .right #restart-button:hover {
  background-color: #aa4118;
}

/*
//MEDIAQUERIES//
@media only screen and (max-width: 1528px) {
}
@media only screen and (max-width: 1200) {
}
@media only screen and (min-width: 992) {
}
@media only screen and (max-width: 767) {
}
@media only screen and (max-width: 600) {
}
@media only screen and (max-width: 486) {
}
*/

/*# sourceMappingURL=styles.css.map */
